.title{
    display: flex;
    justify-content: center;
}

.submitbutton{
    background-color: rgb(227, 28, 95);
    color: white;
    margin-top: 70px;
    height: 50px;
    border-radius: 9px;
    width: 500px;
}

.createreviewform{
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: none;
    margin: auto;

}
/* .label{
    display: flex;
    justify-content: center;
} */
