
a:link { text-decoration: none; }
a:visited { text-decoration: none;      color: black;
}

.container{
display: grid;
grid-template-columns: repeat(auto-fill, minmax(241px, 265px));
column-gap: 32px;
row-gap: 10px;
grid-auto-flow: row dense;
list-style: none;
justify-content: center;

}

li>a {
    text-decoration: none;
    color: black;
}

.spotImg{
    width:245px;
    border-radius: 8px;
    height: 233px;
    object-fit: cover;
}


.city-state-rating-div{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

.all-spots-text{
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
}


.spotCard{
    display: flex;
    justify-content: center;
}

.rating-all-spots-card{
    height: fit-content
}


.posted-stamp-allspots{
    font-family: 'Circular',-apple-system,'BlinkMacSystemFont','Roboto','Helvetica Neue',sans-serif;
    font-size: 14px;
    color: rgb(113,113,113);
}
