.hidden {
    display: none;
}
/* .test{
    display: flex;
    justify-content: center;

} */


.spotButton{
    cursor: pointer;
}
.spotButton:hover{
    font-weight: bold;
    font-size: 15px;
}

.test {
    border-bottom: 0.5px solid grey;
    height: 100%;
    width: auto;
    display: flex;
}

.nav-buttons {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 100%;
    padding: 0% 3.5%;
}


.logo-image{
    height: 90px;
}

.profile-button {
    display: inline-flex;
    align-items: center;
    width: 145px;
    color: black
}

.profile-button > i ~ i {
    font-size: 28px;
    color: grey;
}
